<% unless friend == current_user %>
  <div class="col-md-6">
    <div class="item-box">
      <%= link_to user_path(friend) do %>
        <div class="friend-img">
          <%= image_tag friend.avatar_url %>
        </div>
      <% end %>
      <div class="friend-details">
        <%= link_to friend.full_name, user_path(friend) %>
        <small><%= pluralize(friend.all_friends.count, 'friend') %></small>
      </div>
      
      <%= render_friend_or_unfriend(friend) %>
      
    </div>
  </div>
<% end %>
