<!-- Navbar -->
<nav id="top-nav" class="navbar navbar-static-top">
  <div class="container">

    <!-- Burger Button -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-header">
      <%= link_to user_newsfeed_path(current_user) do %>
        <div class="nav-brand-img"></div>
        <span class="nav-brand-word">tracebook</span>
      <% end %>
    </div><!-- end navbar-header -->

    <!-- Collapsible Nav -->
    <div id="nav-collapse" class="collapse navbar-collapse">

      <!-- Search Bar -->
      <%= form_tag users_path, :method => :get,
                               class: "navbar-form navbar-left" do %>
        <div class="input-group">
          <%= search_field_tag :search, nil, class: "form-control",
                                             placeholder: "Search" %>
          <div class="input-group-btn">
            <%= button_tag name: nil, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </div>
        </div>
      <% end %><!-- end search bar -->

      <!-- Requests, Username, and Sign Out Links -->
      <ul class="nav navbar-nav navbar-right">

        <% if current_user.pending_requests.any? %>
          <li id="notifications" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= pluralize(current_user.pending_requests.count, "Request") %>
            </a>
            <ul class="dropdown-menu">
              <% current_user.pending_requests.each do |request| %>
                <li>
                  <div>
                    <div class="request-image">
                      <%= link_to request.friend_initiator do %>
                        <%= image_tag request.friend_initiator.avatar_url %>
                      <% end %>
                    </div>
                    <div class="request-name">
                      <%= link_to request.friend_initiator do %>
                        <%= request.friend_initiator.full_name %>
                      <% end %>
                    </div>
                    <div class="request-buttons pull-right">
                      <%= link_to "Accept", friending_path(request.id), :method => :put, class: "btn btn-success" %>
                      <%= link_to "Decline", friending_path(request.friend_initiator.id), :method => :delete, class: "btn btn-danger" %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <li class="nav-element">
          <%= link_to user_newsfeed_path(current_user) do %>
            <span class="glyphicon glyphicon-user nav-icon"></span>
            <%= current_user.full_name %>
          <% end %>
        </li>
        <li class="nav-element">
          <%= link_to session_path, :method => :delete do %>
            <span class="glyphicon glyphicon-log-out nav-icon"></span>
            Sign Out
          <% end %>
        </li>
      </ul>
    </div><!-- end collapsible nav -->

  </div><!-- end container -->
</nav><!-- end navbar -->
  