<!DOCTYPE html>
<html>
  <head>
    <title>tracebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>">

    <% if signed_in_user? %>
      <%= render "shared/navbar" %>
    <% else %>
      <%= render "shared/login" %>
    <% end %>

    <div id="flash-wrapper">
      <%= render "shared/flash" %>
    </div>
    
    <%= yield %>

  </body>
</html>
